@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
:root {
    --vt-nawe-white: #FFFFFF;
    --vt-nawe-light-green: #e2fde8;
    --vt-nawe-light-brown: #faead6;
    --vt-nawe-blue-dark: #6A48E9;
    --vt-nawe-blue-light: #d9f7fa;
    --vt-nawe-black:#000000;
    --vt-nawe-text:#2C3651;
    --vt-nawe-outline: #e2d9ff ;
}
:root {
    --color-background: var(--vt-postcard-white);
}
  
@media (prefers-color-scheme: dark) {
:root {
    /* --color-background: var(--vt-postcard-black); */
}
}

body{
    background-color: white;
    font-family: "ABeeZee", sans-serif;
}

.smallText{
    font-size: 2rem;
}


.largeText{
    font-size: 20px;
}
.primary_button{
    background-color: var(--vt-nawe-blue-dark);
    color: white;
    width: fit-content;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}
.secondary_button{
    width: fit-content;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}
.xlText{
    color: var(--vt-nawe-text);
    font-size: 2.5rem;   
    font-weight: bold; 
}
.lText{
    color: var(--vt-nawe-text);
    font-size: 1.5rem;   
    font-weight: bold; 
}
.largeText{
    color: var(--vt-nawe-text) ;
    font-size: 1.2rem;
    font-weight: bold;

}
.normalText{
    color: var(--vt-nawe-text) ;
    font-size: 1rem;
    font-weight:lighter;
}
.mainText{
    color: var(--vt-nawe-text);
    font-size: 1.1rem;
    font-weight: bold;

}
.buttonText{

}
.smallText{
    color: var(--vt-nawe-text) ;
    font-size: 0.8rem;
}
.container{
    /* background-color: black; */
    width: 95%;
}
.holder{
    width: 100%;
    background-color: #ffffff;
    min-height: 100vh;
    padding: 10px;    
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
.nav{
    width: 16%;
    margin-right: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.content{
    width: 85%;
    background-color: white ;
    border-radius: 10px;
    border: 2px solid var(--vt-nawe-outline);    
    min-height: 900px;
    height: 100%;
}
.container{
    display: flex;
    width: 90%;
    height: 70px;
    align-items: center;
}
.holders{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    /* background-color: #5B4138; */
}
.form-group {
    margin-bottom: 1em;
    display: flex;
    width: 100%;
}
.form-group .logo{
    width: auto;
    height: 80px;
}
.form-group label {
    display: block;
    margin-bottom: 0.5em;
}
.form-group input {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    all: unset;
    width: 96%;
    padding: 10px;
    margin-bottom: 0.5em;
    border: 1px solid var(--vt-nawe-outline);
    border-radius: 10px;
    color: var(--vt-nawe-text);
    background-color: var(--vt-nawe-white);
}
select{
    all: unset;
    width: 96%;
    padding: 10px;
    margin-bottom: 0.5em;
    border: 1px solid var(--vt-nawe-outline);
    border-radius: 10px;
    color: var(--vt-nawe-text);
    background-color: var(--vt-nawe-white);
}
.item{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
button[type="submit"] {
    /* display: block; */
    width: 100%;
    padding: 10px;
    background-color: var(--vt-nawe-outline);
    color: var(--vt-nawe-text);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.line {
    width: 100%;
    border: none;
    border-top: 2px solid var(--vt-nawe-outline);
    height: 0;
}

.full{
    width: 49%;
    height: 300px;
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    margin-bottom: 10px;
    /* border: 2px solid var(--vt-nawe-outline); */
    /* background-color: var(--vt-nawe-light-green); */
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
